<% provide(:title, 'All tickets') %>
<h1>All tickets</h1>

<%= will_paginate %>
    <table class="table table-striped table-bordered table-list">
      <tbody>

        <%= render @tickets %>

      </tbody>
    </table>
<%= will_paginate %>