<div class="cat">
<% @categories.each do |main| %>
<div class="btn btn-default">
<table>
  <thead> 
    <tr>
     <td class="centert" colspan=<%="#{main.subcategories.count}"%>> 
       <%= link_to main.text, category_path(main) %>
     </td>
    </tr>
  </thead>
  
  <tbody>
    <tr>
      <% main.subcategories.each do |subcategory| %>
      <td class="centert"><%= link_to subcategory.text, category_path(subcategory) %> 
      </td>
        <% end %>
      </tr>
      </tbody>
   </table>
   </div>
<% end %>
</div>


    <table class="table table-striped table-bordered table-list">
      <tbody>
        <%= render @tickets %>
      </tbody>
    </table>




