<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "ticket market", root_path, id: "logo" %>
     <nav>
       <ul class="nav navbar-nav navbar-right">
        <li> <span class="glyp glyphicon glyphicon-user" aria-hidden="true"> </span> </li>
        <li><%= link_to "Login", '#' %> </li>
        <li><%= link_to "+ Add Announcment", '#', class: "btn btn-lg btn-warning" %></li>
      </ul>
    </nav>
  </div>
</header>